h1{
	text-align: center;
	color: #F9690E;
}
.rig{
	text-align: right;
}
.lef{
	text-align: left;
}
.cen{
	text-align: center;
}
table,td,th,tr{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 3px
}

	.col{
		background-color: #000;
		color: #f2f1ef;
	}
	.blu{
		background-color: #EEEEEE;
		color: #000;
		text-align: center;
	}
	.blu{
		background-color: #F9BF3B;
		color: #000;
		text-align: center;
	}
fieldset{
	width: 10%
}